@page "/add-market"
@layout MainLayout
@inherits InsertStoredProcDemo.Pages.AddMarketComponent

@using Radzen
@using Radzen.Blazor
@using InsertStoredProcDemo.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@market" TItem="InsertStoredProcDemo.Models.ConData.Market" Visible="@(market != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="MarketName" style="width: 100%" Text="Market Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="300" style="display: block; width: 100%" @bind-Value="@(market.MarketName)" Name="MarketName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="MarketName" style="position: absolute" Text="MarketName is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="MarketLocation" style="width: 100%" Text="Market Location">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="100" style="display: block; width: 100%" @bind-Value="@(market.MarketLocation)" Name="MarketLocation">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="MarketLocation" style="position: absolute" Text="MarketLocation is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="MarketSizeInHectares" style="width: 100%" Text="Market Size In Hectares">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(market.MarketSizeInHectares)" Name="MarketSizeInHectares">
                </RadzenNumeric>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
